body{overflow-x: hidden; font-family: "微软雅黑";}
.hiddenh1{display: none;}
.container{background: url("../images/wrap_bg.jpg") center top no-repeat #e2572c; padding-bottom: 150px; position: relative;}
.toptitle{position: absolute; margin: 0 auto; width: 888px; top: 300px; margin-left: 40px;}
.toptitle tr td{text-align: center; color: #fff0be; font-weight: bold; font-size: 18px; cursor: pointer;}
.topdetail{position: absolute; top: 346px;}
.topdetail span{color: #cc2500; font-size: 25px; font-weight: bold; display: inline-block; margin: 0 66px; cursor: pointer;}
.main{margin: 0 auto; width: 963px; background: url("../images/inner_bg.jpg") 0 0 no-repeat; padding-top: 411px;}
.welfare, .webpart{width: 960px; background-color: #ffffff; margin: 20px auto 0;}
.wftop{background-color: #fef969; height: 40px; overflow: hidden;}
.wftitle{float: left; display: inline-block; padding: 5px 10px 5px 18px; font-size: 20px; background-color: #ff6d01; text-align: center; width: 70px; vertical-align: top; color: #fef969}
.triangle{float: left; border-width: 20px; border-style: solid; border-color:#ff6d01 #fef969 #fef969 #ff6d01; width: 0; height: 0; line-height: 0; display: inline-block; margin-left: -4px;}
.wfdetail{display: inline-block; float: left; vertical-align: top; padding: 3px 0 3px 10px; color: #ff6d01}
.wfintroduce{display: inline-block; float: left; color: #ff6d01; vertical-align: top; padding: 13px 0 0 10px;}
.wftop ul{display: inline-block; float: right; padding-right: 5px;}
.wftop ul li{text-align: right;}
.wftop ul li a{color: #9f0505; text-decoration: none; font-size: 12px;}
.wftop ul li a:hover{color: #000000; text-decoration: underline;}
.wfpart{padding: 5px;}
.wf1detail{margin: 15px 0 15px 4px;}
.wf1detail li{display: inline-block; float: left; width: 287px; margin: 0 12px;}
.wf1detail li ul{float: left; width: 100px; margin-top: 10px;}
.wf1detail li ul li{display: list-item;}
.greybtn{padding: 8px 30px; float: right; margin-top: 10px; background: url("../images/gbtn.jpg") repeat-x; color: #ffffff; border: 1px solid #656565; border-radius: 2px; cursor: pointer;}
.redbtn{position: relative; padding: 8px 35px 8px 20px;  float: right; margin-top: 10px; background: url("../images/rbtn.jpg") repeat-x; color: #ffffff; border: 1px solid #e92c00; border-radius: 2px; cursor: pointer;}
.cunum{color: #fa2424;}
.ltriangle{position: absolute; right: 12px; top: 11px; display: block; width:0; height: 0; line-height: 0; border: 8px solid #ffffff; border-color: transparent transparent transparent #ffffff; border-style: dashed dashed dashed solid;}
.wfmore{float: right; vertical-align: top; padding: 13px 5px 0 5px; color: #9f0505; text-decoration: none; font-size: 12px;}
.wfmore:hover{text-decoration: underline; color: #000000;}
.wf2detail{margin-left: 8px;}
.wf2detail li{width: 223px; display: inline; float: left; margin: 5px;}
.wf2title{color: #797979;}
.price{color: #fd0000; font-size: 18px;}
.price span{color: #797979; text-decoration: line-through; font-size: 14px; margin-left: 5px;}
.backlogo{background: url("../images/back.jpg") left center no-repeat; padding-left: 30px;}
.wf2gbtn{background: url("../images/wf2gbtn.jpg") repeat-x; margin-top: 10px; color: #ffffff; float: right; padding: 5px 10px; border: 1px solid #656565; border-radius: 2px; cursor: pointer;}
.wf2rbtn{background: url("../images/wf2rbtn.jpg") repeat-x; margin-top: 10px; color: #ffffff; float: right; padding: 5px 10px; border: 1px solid #e92c00; border-radius: 2px; cursor: pointer;}
.wfpbottom{padding: 5px; background-color: #ededed;}
.wfpbottom ul{width: 100px; float: left;}
.wf3detail{background-color: #fffedf; border-bottom: 1px solid #f9dcd3;}
.wf3detail_l{float: left; margin-right: 15px; margin-left: 5px; width: 320px;}
.wf3detail_l li{margin: 25px 0;}
.wf3detail_l li label{color: #797979;}
.wf3detail_l li input{width: 132px; height: 25px; border: 1px solid #797979;}
.wf3detail_l li span a{color: #797979; text-decoration: none}
.wf3detail_l li span a:hover{text-decoration: underline;}
.wf3detail_l li span img{vertical-align: middle;}
.prize li{border: 1px solid #ffa94e; display: inline-block; float: left; position: relative; cursor: pointer; margin: 5px;}
.prize p{text-align: center; width: 100%; height: 20px; display: none; background-color: #ff6d01; color: #ffffff; position: absolute; bottom: 0; left: 0;}
.prize li img{display: block;}
.prize li:hover p{display: block;}
.prizebtn{width: 130px; height: 35px; line-height: 35px; margin: 0 auto; background: url("../images/gbtn.jpg") repeat-x; text-align: center; font-size: 18px; color: #ffffff; border: 1px solid #656565; border-radius: 2px; cursor: pointer;}
.wf3detail_m{float: left; margin-right: 15px; padding-top: 10px; width: 396px;}
.wf3detail_r{background-color: #fffedf; float: left; margin-bottom: 10px;}
.wf3detail_r h3{color: #ff6d01; margin: 5px 0;}
.wf3detail_r p{color: #797979;}
.wf3detail_r p span{color: #797979; margin-left: 30px;}
.wptitle{background-color: #ffa94e; height: 44px; line-height: 44px;}
.wptitle h2{color: #ffffff; margin-left: 20px;}
.wpmain{padding: 15px;}
.rule{margin-left: 30px;}
.rule li{list-style-type: square; color: #797979;}
.webparttop{border-bottom: 1px solid #d4d4d4;}
.webparttop li{display: inline-block; float: left; padding: 0 4px 10px 4px;}
.webparttop li img{border: 1px solid #797979;}
.webparttop li p{text-align: center; margin-top: 5px;}
.webparttop li p a{color: #797979; text-decoration: none;}
.webparttop li p a:hover{color: #000000; text-decoration: underline;}
.webpartleft{float: left; margin: 10px;}
.webpartright{float: right; margin: 10px;}
.webpartleft h3, .webpartright h3{color: #ff6d01}
.webpartleft img{margin: 5px 0;}
.webpartright ul{margin-top: 25px;}
.webpartright ul li{display: inline-block; float: left; margin-right: 25px;}
.webpartright ul li:hover a{color: #000000; text-decoration: underline;}
.webpartright ul li img{cursor: pointer;}
.webpartleft a{margin-left: 155px;}
.webpartleft p, .webpartleft a, .webpartright p, .webpartright a{color: #797979;}
.webpartleft a:hover, .webpartright a:hover{color: #000000; text-decoration: underline;}
.sidebar{/*display: none; */float: right; margin-left: 980px; position: absolute; top: 500px;}
.sidebar img{margin-bottom: -7px;}
.sidebar ul{border: 1px solid #fdac3f; width: 106px;}
.sidebar ul li{background: url("../images/rightbg.jpg") repeat-x; padding: 4px 0; border-bottom: 1px solid #ffd35e;}
.sidebar ul li p, .sidebar ul li a{color: #9f0505; text-align: center; font-weight: bold; cursor: pointer;}
.fix{*zoom:1;}
.fix:after{display:block; content:"clear"; height:0; clear:both; visibility:hidden;}